body {
    background-image: url(universe-4609408_1920.jpg); no-repeat;
    background-size: cover;

}

.bloktekstu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1, p {
    font-family: sans-serif;
    color: green;
    font-size: bold;
    text-shadow: 0.05em 0.05em black;
}

h1 {
    font-size: 50px;
}
p{
    font-size: 25px;
}